{
  "sources": [
    {
      "name": "UserControlledInput",
      "comment": "use to annotate input controllec by the user"
    }
  ],

  "sinks": [
    {
      "name": "CodeExecution",
      "comment": "use to annotate execution of python code"
    }
  ],

  "features": [],

  "rules": [
    {
      "name": "Possible SQL Injection:",
      "code": 53345,
      "sources": [ "UserControlledInput" ],
      "sinks": [ "CodeExecution" ],
      "message_format": "User specified data may reach a code execution sink"
    }
  ]
}
